{% extends "admin/base_admin.html" %}
{% block title %}Administration{% endblock %}
{% block sub_content %}
<div class="main-div-admin" style="margin: 3em 0 0 0;">
    {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%- endfor %}
    <form method="post" action="{{url_for('admin_routes.parametres')}}" id="changeParametresForm">
        <div class="form-group">
            <label for="selectJour" class="text-white text-decoration-none">Nombre de jours</label>
            <select class="form-control" id="selectJour" name="jour">
                {% for i in range(1, 11) %}
                <option value="{{ i }}" {% if parametres.max_jour == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectDebutMatin" class="text-white text-decoration-none">Heure de début le matin</label>
            <select class="form-control" id="selectDebutMatin" name="debut_matin">
                {% for horaire in horaire %}
                <option value="{{ horaire.strftime("%H:%M") }}" {% if parametres.heure_debut_matin.strftime("%H:%M") == horaire.strftime("%H:%M") %}selected{% endif %}>{{ horaire.strftime("%H:%M") }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectFinMatin" class="text-white text-decoration-none">Heure de fin le matin</label>
            <select class="form-control" id="selectFinMatin" name="fin_matin">
                {% for horaire in horaire %}
                <option value="{{ horaire.strftime("%H:%M") }}" {% if parametres.heure_fin_matin.strftime("%H:%M") == horaire.strftime("%H:%M") %}selected{% endif %}>{{ horaire.strftime("%H:%M") }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectDebutApresMidi" class="text-white text-decoration-none">Heure de début l'après-midi</label>
            <select class="form-control" id="selectDebutApresMidi" name="debut_apresmidi">
                {% for horaire in horaire %}
                <option value="{{ horaire.strftime("%H:%M") }}" {% if parametres.heure_debut_apres_midi.strftime("%H:%M") == horaire.strftime("%H:%M") %}selected{% endif %}>{{ horaire.strftime("%H:%M") }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectLogeApresMidi" class="text-white text-decoration-none">Heure de début de loge l'après-midi</label>
            <select class="form-control" id="selectLogeApresMidi" name="loge_apresmidi">
                {% for horaire in horaire %}
                <option value="{{ horaire.strftime("%H:%M") }}" {% if parametres.heure_loge_apres_midi.strftime("%H:%M") == horaire.strftime("%H:%M") %}selected{% endif %}>{{ horaire.strftime("%H:%M") }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectFinApresMidi" class="text-white text-decoration-none">Heure de fin l'après-midi</label>
            <select class="form-control" id="selectFinApresMidi" name="fin_apresmidi">
                {% for horaire in horaire %}
                <option value=" {{ horaire.strftime("%H:%M") }}" {% if parametres.heure_fin_apres_midi.strftime("%H:%M") == horaire.strftime("%H:%M") %}selected{% endif %}>{{ horaire.strftime("%H:%M") }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectIntervalle" class="text-white text-decoration-none">Intervalle de précision de l'algorithme</label>
            <select class="form-control" id="selectIntervalle" name="intervalle">
                {% for i in range(1, 31) %}
                <option value="{{ i }}" {% if parametres.intervalle == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectPause" class="text-white text-decoration-none">Temps de pause min pour les élèves entre les oraux</label>
            <select class="form-control" id="selectPause" name="pause">
                {% for i in range(0, 70, 10) %}
                <option value="{{ i }}" {% if parametres.temps_pause_eleve == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectPassage" class="text-white text-decoration-none">Nombre d'oraux max que les professeurs peuvent faire sans pause</label>
            <select class="form-control" id="selectPassage" name="passage">
                {% for i in range(1, 6) %}
                <option value="{{ i }}" {% if parametres.prof_max_passage_sans_pause == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-top: 1em">
            <label for="selectDateDebut" class="text-white text-decoration-none">Date du début des épreuves du second groupe</label>
            <select class="form-control" id="selectDateDebut" name="date_debut">
                {% for i in range(1, 32) %}
                <option value="{{ i }}">{{ i }} Juillet</option>
                {% endfor %}
            </select>
        </div>
        <div style="margin-top: 1em">
            <button class="btn btn-primary" name="modify_button" type="submit" form="changeParametresForm"
                    style="background-color:blue;">Changer les paramètres</button>
        </div>
        <button class="btn btn-danger" name="delete_button" type="submit" form="changeParametresForm"
            style="margin-top: 3em">Supprimer toutes les données</button>
    </form>
</div>
{% endblock %}


{% block sub_script %}
<script>

    window.onload = prefill()

    function prefill() {
        myvar = '{{parametres|tojson}}';
        let parametres = JSON.parse(myvar);
        select_date_debut = document.getElementById('selectDateDebut')
        date_debut = new Date(parametres.date_premier_jour)
        for (let i = 0; i < select_date_debut.length; i++) {
            if (select_date_debut[i].value == date_debut.getDate()) {
                select_date_debut[i].selected = true;
            }
        }
    }

</script>
{% endblock %}
