{% extends "admin/base_admin.html" %}
{% block title %}Administration{% endblock %}
{% block sub_head %}
<!-- select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block sub_content %}
<div class="main-div-admin">
    <div class="name-finder" style="justify-content: end;">
        <button href="#" type="button" class="btn btn-danger me-3" data-bs-toggle="modal"
            data-bs-target="#removeAllProfesseurModal" id="buttonDelete">
            Supprimer tous les professeurs
            <i class="fas fa-trash ml-s"></i>
        </button>
        <button href="#" type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#addProfModal">
            Ajouter
            <i class="fas fa-plus ml-s"></i>
        </button>
        <button href="#" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#importProfesseurModal"
            id="buttonImport">
            Importer
            <i class="bi bi-file-earmark-spreadsheet-fill ml-s"></i>
        </button>
    </div>
    <div class="main-table-admin">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%- endfor %}
        <div class="table-responsive thumbnail">
            <table class="table table-light table-striped table-hover" id="calendar">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="th-inner">Nom</div>
                            <div class="filter-control">
                                <input type="text" class="form-control finder" v-on:keyup="finder" placeholder="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Prénom</div>
                            <div class="filter-control">
                                <input type="text" class="form-control finder" v-on:keyup="finder" placeholder="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Série</div>
                            <div class="filter-control">
                                <select class="form-select finder break-doublons" v-on:change="finder">
                                    <option select></option>
                                    {% for a_serie in all_series %}
                                    <option id="serie{{a_serie.id_serie}}" value="{{a_serie.id_serie}}">{{a_serie.nom}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Matière</div>
                            <div class="filter-control">
                                <select class="form-select finder break-doublons" v-on:change="finder">
                                    <option select></option>
                                    {% for matiere in all_matieres %}
                                    <option>{{matiere.nom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="th-inner">Salle</div>
                            <div class="filter-control">
                                <select class="form-select finder" v-on:change="finder">
                                    <option select></option>
                                    {% for salle in all_salles %}
                                    <option>{{salle.numero}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th scope="col" class="supprimer align-text-top">Modifier</th>
                        <th scope="col" class="supprimer align-text-top">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a_prof in all_profs %}
                    <tr class="trfilter clickable" data-bs-toggle="collapse" data-bs-target="#accordion{{a_prof.id_professeur}}">
                        <td scope="row">{{a_prof.nom}}</td>
                        <td scope="row">{{a_prof.prenom}}</td>
                        <td scope="row">
                            {% for a_matiere in all_matieres %}
                            {% for a_serie in all_series %}
                            {% if a_matiere.id_matiere == a_prof.matiere and a_matiere.id_serie == a_serie.id_serie%}
                            {{a_serie.nom}}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </td>
                        <td scope="row">
                            {% for a_matiere in all_matieres %}
                            {% if a_matiere.id_matiere == a_prof.matiere %}
                            {{a_matiere.nom}}<br>
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td scope="row">
                            {% for a_salle in all_salles %}
                            {% if a_salle.id_salle == a_prof.salle %}
                            {{a_salle.numero}}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.professeurs')}}"
                                id="modifyCreneauForm{{a_prof.id_professeur}}">
                                <input type="hidden" name="id" value="{{a_prof.id_professeur}}">
                                <button type="button" id="modify-{{a_prof.id_professeur}}" data-bs-toggle="modal"
                                    data-bs-target="#modifyModal"
                                    class="modifRow btn btn-outline-warning">Modifier</button>
                            </form>
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.professeurs')}}"
                                id="deleteProfForm{{a_prof.id_professeur}}">
                                <input type="hidden" name="id" value="{{a_prof.id_professeur}}">
                                <button type="submit" name="delete_button" id="{{a_prof.id_professeur}}"
                                    class="deleteRow btn btn-outline-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    <tr style="--bs-table-hover-bg: transparent; --bs-table-accent-bg: transparent;" class="not-null">
                        <td colspan="100%"
                            style="padding: 0; background: transparent; --bs-table-accent-bg: transparent;">
                            <div class="collapse" id="accordion{{a_prof.id_professeur}}" style="margin: 15px 10px;">
                                <div class="table-responsive thumbnail">
                                    <table class="table table-light table-striped table-hover" id="calendar">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Prénom</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Heure de début</th>
                                                <th scope="col">Heure de début d'oral</th>
                                                <th scope="col">Heure de fin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for creneau in all_creneaux %}
                                            {% if creneau.id_matiere == a_prof.matiere and creneau.id_salle ==
                                            a_prof.salle %}
                                            <tr class="not-null">
                                                {% for candidat in all_candidats %}
                                                {% if candidat.id_candidat == creneau.id_candidat %}
                                                <td scope="row">{{candidat.nom}}</td>
                                                <td scope="row">{{candidat.prenom}}</td>
                                                {% endif %}
                                                {% endfor %}
                                                <td scope="row">
                                                    {{creneau.debut_preparation.strftime("%d-%m-%Y")}}
                                                </td>
                                                <td scope="row">
                                                    {{creneau.debut_preparation.strftime("%Hh%M")}}
                                                </td>
                                                <td scope="row">
                                                    {{creneau.fin_preparation.strftime("%Hh%M")}}
                                                </td>
                                                <td scope="row">
                                                    {{creneau.fin.strftime("%Hh%M")}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="no-border not-null"></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addProfModal" role="dialog" aria-labelledby="addProfModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un professeur</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add user form -->
                    <form method="post" action="{{url_for('admin_routes.professeurs')}}" id="addProfForm">
                        <div class="form-group">
                            <label for="nameAdd" class="col-form-label">Nom</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="nameAdd" name="name"
                                    placeholder="Entrez un nom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="surnameAdd" class="col-form-label">Prénom</label>
                            <div class="d-flex">
                                <input type="text" class="form-control" id="surnameAdd" name="surname"
                                    placeholder="Entrez un prénom" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectMatiere" class="col-form-label">Matière</label>
                            <select class="form-control" id="selectMatiere" name="matiere">
                                <option selected></option>
                                {% for a_matiere in all_matieres %}
                                <option id="matiere{{a_matiere.id_matiere}}" value="{{a_matiere.id_matiere}}">
                                    {{a_matiere.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectSalle" class="col-form-label">Salle</label>
                            <select class="form-control" id="selectSalle" name="salle">
                                <option selected></option>
                                {% for a_salle in all_salles %}
                                <option id="salle{{a_salle.id_salle}}" value="{{a_salle.id_salle}}">{{a_salle.numero}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" name="submit_button" type="submit" form="addProfForm">Sauvegarder
                        les changements</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal modification d'1 row professeur-->
    <div class="modal fade" id="modifyModal" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier un professeur</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: orange;">[!] Si le prof est assigné à aucune salle, il n'aura aucun créneau.</p>
                    <form method="post" action="{{url_for('admin_routes.professeurs')}}" id="modifyProfesseurForm">
                        <input id="id_professeur_modify" name="prof_id" value="" hidden>

                        <div class="form-group">
                            <label for="name" class="col-form-label">Nom</label>
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                                placeholder="Entrez un nom" required>
                        </div>
                        <div class="form-group">
                            <label for="surname" class="col-form-label">Prenom</label>
                            <input type="text" class="form-control" id="surname" name="surname"
                                aria-describedby="surnameHelp" placeholder="Entrez un prénom" required>
                        </div>
                        <div class="form-group">
                            <label for="selectMatiere" class="col-form-label">Matière</label>
                            <select class="form-control" id="selectMatiere" name="matiere">
                                <option selected></option>
                                {% for matiere in all_matieres %}
                                <option id="matiere{{matiere.id_matiere}}" value="{{matiere.id_matiere}}">
                                    {{matiere.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="salle" class="col-form-label">Salle</label>
                            <select class="form-select" name="salle" id="salle-select-modif"
                                style="min-width:min-content;">
                                <option selected></option>
                                {% for a_salle in all_salles %}
                                <option id="salle{{a_salle.id_salle}}" value="{{a_salle.id_salle}}">{{a_salle.numero}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-warning" name="modify_button" type="submit" id="ModalSubmitModifButton"
                        form="modifyProfesseurForm">Modifier
                        le professeur</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="importProfesseurModal" tabindex="-1" role="dialog" aria-labelledby="importProfesseurModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Importer</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: orange;">Attention, l'importation depuis un fichier csv n'ajoute pas plusieurs professeurs, mais écrase la liste actuelle</p>
                    <p>Votre fichier csv doit contenir les colonnes suivantes :</p>
                    <ul>
                        <li>Le nom du professeur</li>
                        <li>Le prénom du professeur</li>
                        <li>Le nom de la série du professeur</li>
                        <li>Le nom de la matière du professeur</li>
                    </ul>
                    <form method="post" id="importProfesseursForm" enctype="multipart/form-data">
                        <input class="form-control" type="file" id="formFile" name="file">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" name="import_button" id="ModalImportButton" value=""
                        form="importProfesseursForm" class="btn btn-success">Importer</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="removeAllProfesseurModal" tabindex="-1" role="dialog"
        aria-labelledby="removeAllProfesseurModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: orange;">Attention cette opération est irréversible !</p>
                    <p>Êtes vous sûr de vouloir supprimer tous les professeurs ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form method="post">
                        <button type="submit" name="delete_all_button" id="ModalSubmitButton" value=""
                            class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sub_script %}
<script>

    $('.matiere-choice-multiselect1').select2({
        dropdownParent: $('#addProfModal'),
        width: 'resolve'
    });
    $('.matiere-choice-multiselect2').select2({
        dropdownParent: $('#modifyModal'),
        width: 'resolve'
    });

    $('.js-example-basic-multiple').select2();



    $('.modifRow').click(function () {

        var $myRowId = $(this).get(0).id.replace('modify-', '');
        name = document.getElementById("ModalSubmitModifButton").getAttribute("form");
        name = name + $myRowId;
        $("#id_professeur_modify").attr('value', $myRowId);

        form_elements = document.getElementById("modifyProfesseurForm").elements;


        myvar_matieres = '{{all_matieres|tojson}}';
        var all_matieres = JSON.parse(myvar_matieres);
        myvar_profs = '{{all_profs|tojson}}';
        var all_professeurs = JSON.parse(myvar_profs);
        myvar_salles = '{{all_salles|tojson}}';
        all_salles = JSON.parse(myvar_salles);

        var professeur;
        for (var i = 0; i < all_professeurs.length; i++) {
            if (all_professeurs[i]['id_professeur'] == $myRowId) {
                professeur = all_professeurs[i];
            }
        }

        var id_matiere = null;
        if (professeur.matiere) {
            for (var i = 0; i < all_matieres.length; i++) {
                if (all_matieres[i]['id_matiere'] == professeur.matiere) {
                    id_matiere = professeur.matiere;
                    break;
                }
            }
        }

        var id_salle = null;
        if (professeur.salle) {
            for (var i = 0; i < all_salles.length; i++) {
                if (all_salles[i]['id_salle'] == professeur.salle) {
                    id_salle = professeur.salle;
                    break;
                }
            }
        }


        //Set the user
        //$("#id_utilisateur_modify").attr('value', professeur.id_utilisateur);

        //Set the name surname
        form_elements[1].value = professeur['nom'];
        form_elements[2].value = professeur['prenom'];

        //Set the matiere
        
        select = form_elements[3];
        for (var i = 0; i < select.length; i++) {
            select.options[i].selected = select.options[i].id == "matiere" + id_matiere;
        }

        //set the salle
        select = form_elements[4];
        for (var i = 0; i < select.length; i++) {
            select.options[i].selected = select.options[i].id == 'salle' + id_salle;
        }
    });
</script>
{% endblock %}