{% extends "admin/base_admin.html" %}
{% block title %}Administration{% endblock %}
{% block sub_content %}
<div class="main-div-admin" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-row" style="justify-content: space-between;align-items:center; width:100%;">
        <button class="btn btn-primary" onclick="downloadAllEmargement({{jour}}, '{{date}}')"
            style="width: max-content; white-space:nowrap; background-color:blue;">
            Télécharger les fiches d'émargement
            <i class=" fas fa-print ml-s"></i>
        </button>
        <div class="name-finder" style="justify-content: end;">
            <button href="#" type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#addSalleModal">
                Ajouter
                <i class="fas fa-plus ml-s"></i>
            </button>
        </div>
    </div>
    <div class="main-table-admin">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{category}}  alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%- endfor %}
        <div class="table-responsive thumbnail">
            <table class="table table-light table-striped table-hover" id="calendar">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="th-inner">Numéro</div>
                            <div class="filter-control">
                                <input type="text" class="form-control finder" v-on:keyup="finder" placeholder="">
                            </div>
                        </th>
                        <th scope="col" class="modifier align-text-top">Modifier</th>
                        <th scope="col" class="supprimer align-text-top">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a_salle in all_salles %}
                    <tr class="trfilter clickable" data-bs-toggle="collapse" data-bs-target="#accordion{{a_salle.id_salle}}">
                        <td scope="row">{{a_salle.numero}}{% for a_matiere in all_matieres %}{% if a_matiere.loge ==
                            a_salle.id_salle %} - Loge {{a_matiere.nom}} {% for serie in all_series %}{% if serie.id_serie ==
                            a_matiere.id_serie %}{{ serie.nom }}{% endif%}{% endfor %}{% endif %}{% endfor %}</td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.salles')}}"
                                id="modifySalleForm{{a_salle.id_salle}}">
                                <input type="hidden" name="id" value="{{a_salle.id_salle}}">
                                <button type="button" id="{{a_salle.id_salle}}" data-bs-toggle="modal"
                                    data-bs-target="#modifyModal"
                                    class="modifRow btn btn-outline-warning">Modifier</button>
                            </form>
                        </td>
                        <td scope="row">
                            <form method="post" action="{{url_for('admin_routes.salles')}}"
                                id="deleteSalleForm{{a_salle.id_salle}}">
                                <input type="hidden" name="id" value="{{a_salle.id_salle}}">
                                <button type="submit" name="delete_button" id="{{a_salle.id_salle}}"
                                    class="deleteRow btn btn-outline-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    <tr style="--bs-table-hover-bg: transparent; --bs-table-accent-bg: transparent;" class="not-null">
                        <td colspan="100%" style="padding: 0; background: transparent; --bs-table-accent-bg: transparent;">
                            <div class="collapse" id="accordion{{a_salle.id_salle}}" style="margin: 15px 10px;">
                                <div class="table-responsive thumbnail">
                                    <table class="table table-light table-striped table-hover" id="calendar{{a_salle.id_salle}}">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="align-text-top">Demi-journée</th>
                                                <th scope="col">
                                                    <p style="float:right">Fiche émargement</p>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in range(1,jour+1) %}
                                            {% set n_jour = date.strftime('%d')|int + j - 1%}
                                            {% for m in range(2) %}
                                            <tr class="clickable" data-bs-toggle="collapse" data-bs-target="#tableAccordion{{a_salle.id_salle}}{{j}}{{m}}">
                                                <td scope="row">{% if n_jour < 10 %}0{% endif %}{{n_jour}}{{date.strftime('-%m-%Y')}}{% if m != 1 %} Matin{% else %} Après-midi{% endif %}</td>
                                                <td>
                                                    <div style="float:right">
                                                        <button class="btn btn-primary"
                                                            v-on:click="downloadPDFEmargement('tableEmargement{{a_salle.id_salle}}{{j}}{{m}}',
                                                                        '{{a_salle.numero}}', {{m}},
                                                                        '{% if n_jour < 10 %}0{% endif %}{{n_jour}}{{date.strftime('-%m-%Y')}}')">
                                                            Télécharger<i class="fas fa-print ml-s"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="--bs-table-hover-bg: transparent; --bs-table-accent-bg: transparent;" class="not-null">
                                                <td colspan="100%" style="padding: 0; background: transparent; --bs-table-accent-bg: transparent;">
                                                    <div class="collapse" id="tableAccordion{{a_salle.id_salle}}{{j}}{{m}}" style="margin: 15px 10px;">
                                                        <div class="table-responsive thumbnail">
                                                            <table class="table table-light table-striped table-hover tableEmargement{{a_salle.id_salle}}{{j}}{{m}}"
                                                                id="tableEmargement{{a_salle.id_salle}}{{j}}{{m}}">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Nom</th>
                                                                        <th scope="col">Prénom</th>
                                                                        <th scope="col">Matière</th>
                                                                        <th scope="col">Série</th>
                                                                        <th scope="col">Horaires</th>
                                                                        <th scope="col">Emargement</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for creneau in all_creneaux %}
                                                                    {% if creneau.id_salle == a_salle.id_salle %}
                                                                    {% for candidat in all_candidats %}
                                                                    {% if candidat.id_candidat == creneau.id_candidat %}
                                                                    {% if candidat.jour == j %}
                                                                    {% if candidat.matin != m %}

                                                                    <tr class="not-null">
                                                                        <td scope="row">{{candidat.nom}}</td>
                                                                        <td scope="row">{{candidat.prenom}}</td>
                                                                        {% for matiere_scope in all_matieres %}
                                                                        {% if matiere_scope.id_matiere ==
                                                                        creneau.id_matiere %}
                                                                        <td>
                                                                            {{ matiere_scope.nom }}
                                                                        </td>
                                                                        <td>
                                                                            {% for serie in all_series %}
                                                                            {% if serie.id_serie ==
                                                                            matiere_scope.id_serie %}
                                                                            {{ serie.nom }}
                                                                            {% endif%}
                                                                            {% endfor %}
                                                                        </td>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                        <td scope="row">
                                                                            Début de préparation : {{creneau.debut_preparation.strftime("%Hh%M")}}
                                                                            <br>
                                                                            Début de passage : {{creneau.fin_preparation.strftime("%Hh%M")}}
                                                                            <br>
                                                                            Fin : {{creneau.fin.strftime("%Hh%M")}}
                                                                        </td>
                                                                        <td scope="row"></td>
                                                                    </tr>
                                                                    {% endif %}
                                                                    {% endif %}
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr class="no-border not-null"></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addSalleModal" tabindex="-1" role="dialog" aria-labelledby="addSalleModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter une salle</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add user form -->
                    <form method="post" action="{{url_for('admin_routes.salles')}}" id="addSalleForm">
                        <div class="form-group">
                            <label for="salleNum">Numéro</label>
                            <input type="text" class="form-control" id="salleNum" name="numero"
                                aria-describedby="salleNumHelp" placeholder="Entrez un numéro de salle"
                                required="required">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" name="submit_button" type="submit" form="addSalleForm">Sauvegarder
                        les changements</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modifyModal" role="dialog" aria-labelledby="modifyModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier une salle</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{url_for('admin_routes.salles')}}" id="modifySalleForm">
                        <div class="form-group">
                            <label for="salleNum">Numéro</label>
                            <input type="text" class="form-control" id="salleNum-modif" name="numero"
                                aria-describedby="salleNumHelp" placeholder="Entrez un numéro de salle"
                                required="required">
                        </div>
                        <input type="hidden" name="id" id="hiddenIdModif">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button class="btn btn-primary" name="modify_button" type="submit" id=ModalSubmitModifButton
                        form="modifySalleForm">Sauvegarder
                        les changements</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attention</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Êtes vous sûr de vouloir supprimer cette salle ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" name="delete_button" id="ModalSubmitButton" value="" form="deleteSalleForm"
                        class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block sub_script %}
<script>
    function centered_text (text, y, doc) {
        let textWidth = doc.getStringUnitWidth(text) * doc.internal.getFontSize() / doc.internal.scaleFactor;
        let textOffset = (doc.internal.pageSize.width - textWidth) / 2;
        doc.text(textOffset, y, text);
    }

    function downloadPDFEmargement(name, num_salle, demi_journee, date, output = false) {
        let doc = new jsPDF('p', 'pt', 'a4');
        let htmlstring = '';
        let tempVarToCheckPageHeight = 0;
        let pageHeight = 0;
        let demi_journee_string
        if (demi_journee == 0) {
            demi_journee_string = 'Matin';
        } else {
            demi_journee_string = "Après Midi"
        }

        pageHeight = doc.internal.pageSize.height;
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 40,
            right: 40,
            width: 600
        };
        doc.setFontSize(17);
        doc.setLineWidth(4);
        doc.text(20, 20, num_salle + ' ' + date + ' ' + demi_journee_string);
        //doc.text(200, y = y + 30, "Liste d'émargement");
        doc.setFontSize(20);
        centered_text("Liste d'émargement", 45, doc);
        if (document.getElementById(name)) {
            doc.autoTable({
                html: '#' + name,
                startY: 70,
                theme: 'grid',
                styles: {
                    minCellHeight: 40
                },
                didParseCell: function (table) {
                    if (table.section === 'head') {
                        table.cell.styles.fillColor = '#4c5cff';
                    }
                }
            });
        }

        if (!output) {
            if (demi_journee == 0) {
                demi_journee_string = 'matin';
            } else {
                demi_journee_string = "apresmidi"
            }
            doc.save(num_salle + 'emargement' + date + demi_journee_string);
        } else {
            return doc;
        }
    }

    function downloadAllEmargement(jour, date) {
        let zip = new JSZip();
        let all_salles = JSON.parse('{{all_salles|tojson}}');

        for (let i = 0; i < all_salles.length; i++) {
            let salle = all_salles[i];
            for (let j = 1; j <= jour; j++) {
                let date_it = new Date(date)
                date_it.setDate(date_it.getDate() + j - 1)
                let date_jour
                let date_month
                if (date_it.getDate() < 10) {
                    date_jour = '0' + date_it.getDate().toString()
                }
                else {
                    date_jour = date_it.getDate().toString()
                }
                if (date_it.getMonth() + 1 < 10) {
                    date_month = '0' + (date_it.getMonth() + 1).toString()
                }
                else {
                    date_month = date_it.getMonth().toString()
                }
                for (let k = 0; k < 2; k++) {
                    let doc = downloadPDFEmargement('tableEmargement' + salle.id_salle + j + k,
                        salle.numero, k, date_jour + '-' + date_month + '-' + date_it.getFullYear(), true);
                    try {
                        let demi_journee;
                        if (k == 0) {
                            demi_journee = 'matin';
                        }
                        else {
                            demi_journee = 'apresmidi';
                        }
                        zip.file(salle.numero + 'emargement' + date_jour + '-' + date_month + '-' + date_it.getFullYear() + demi_journee + '.pdf', doc.output('blob'));
                    } catch {
                        console.error('Something went wrong!');
                    }
                }
            }
        }
        zip.generateAsync({ type: 'blob' }).then(function (content) {
            saveAs(content, 'listesEmargement.zip');
        });


        /* let salle = all_salles[all_salles.length-1];
        let doc = downloadPDFWithBrowserPrint('tableAccordion' + salle.id_salle.toString(), salle.numero, true);
        try {
            zip.file(salle.numero.toString() + '_listeDEmargement.pdf', doc.output('blob'));
        }
        catch {
            console.error('Something went wrong!');
        }
        zip.generateAsync({ type: 'blob' }).then(function (content) {
            saveAs(content, 'listesDEmargement.zip');
        }); */
    }

    $('.modifRow').click(function () {

        var $myRowId = $(this).get(0).id;

        name = document.getElementById("ModalSubmitModifButton").getAttribute("form");
        $("#hiddenIdModif").attr('value', $myRowId);

        form_elements = document.getElementById("modifySalleForm").elements;

        myvar_salles = '{{all_salles|tojson}}';
        var all_salles = JSON.parse(myvar_salles);
        console.log(all_salles)
        console.log($myRowId)
        let salle;
        for (var i = 0; i < all_salles.length; i++) {
            if (all_salles[i]['id_salle'] == $myRowId) {
                salle = all_salles[i];
                console.log(salle)
            }
        }

        //set salle
        form_elements[0].value = salle['numero'];
    })

</script>
{% endblock %}